<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       >
<!--    包扫描-->
    <context:component-scan base-package="com.zxj.service.impl"/>

    <bean id="userServiceImpl" class="com.zxj.service.impl.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <bean id="activityService" class="com.zxj.service.impl.ActivityServiceImpl">
        <property name="activityMapper" ref="activityMapper"/>
    </bean>

    <bean id="activityRemarkService" class="com.zxj.service.impl.ActivityRemarkServiceImpl">
        <property name="activityRemarkMapper" ref="activityRemarkMapper"/>
    </bean>

    <!--    开启事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>